body {
    background-color: #f5f5f5;
}

#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/* Add this CSS to your main.css file or include it in your HTML file */
#chatMessages {
    height: 300px; /* Adjust the height as needed */
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
}

.sender {
    font-weight: bold;
    color: #3366cc; /* Adjust the color as needed */
}

.content {
    margin-left: 5px;
}

